
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 me-xl-5 text-dark text-decoration-none">
        <img src="{{ asset('build/images/logo.svg') }}" alt="logo garage vincent parrot" height="60">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ms-xl-5">
        <li><a href="/" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Nos services</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Les occasions</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Déposer un avis</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
      </ul>

      <div class="col-xl-1 text-end">
        <a href=""><img src=" {{ asset('build/images/iconeconnexion.png') }} " alt="lien vers la page de connexion" height="25"></a>
      </div>
    </header>
  </div>
