{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <section class="section-annonces col-11 mx-auto mt-5">
        <div class="intro-annonces text-center my-4 g-4">
            <h1>Nos véhicules d'occasion</h1>
            <p>Pour une recherche personnalisée de votre véhicule, aidez vous des filtres ci-dessous.</p>
        </div>
        <div class="wrapper-filtres-annonces col-12 d-flex flex-column flex-lg-row mx-auto py-5 js-filter">
            <div class="filtres col-12 col-lg-4 js-filter-form">
                <p>ici se trouvera les filtres</p>
            </div>
            <div class="annonces col-10 col-lg-8 row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-3 mx-auto g-3 g-lg-4 js-filter-content">
                {% include "annonces/_annonces.html.twig" %}
            </div>
        </div>

    </section>
{% endblock %}
