{% extends 'base.html.twig' %}

{% block title %}Hello {{ websiteName }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ websiteName }} ! ✅</h1>

</div>
{% endblock %}
