{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
	<section class="mentions px-3 pt-5">
    <div class="mentions-row col-xl-10 col-xxl-9 mx-auto my-4 px-5 py-4">
		<h1 class="text-center mb-5">Mentions légales</h1>
		<p>Dernière mise à jour : 03/04/2024</p>
		<p>Garage V.Parrot exploite le site web [insérer le nom du site web].</p>
		<p>Cette page contient les mentions légales de [insérer le nom du site web]. Veuillez lire attentivement ces informations avant d'utiliser le Service.</p>

		<h2 class="mt-5">Responsable du site</h2>
		<p>Nom de l'entreprise : Garage V.Parrot</p>
		<p>Adresse : 1 rue Maréchal 75000 Paris</p>
		<p>Téléphone : 0251909090</p>
		<p>E-mail : v.parrot@parrot.fr</p>

		<h2 class="mt-5">Hébergement</h2>
		<p>L'hébergement de ce site est assuré par Hostinger.</p>
		<p>Adresse :
			<a href="https://www.hostinger.fr/">Hostinger.fr</a>
		</p>

		<h2 class="mt-5">Propriété intellectuelle</h2>
		<p>Tous les éléments du site [insérer le nom du site web] sont et restent la propriété intellectuelle exclusive de Garage V.Parrot. Aucune reproduction, même partielle, ne peut être faite de ce site sans l'autorisation expresse de Garage V.Parrot.</p>

		<h2 class="mt-5">Liens externes</h2>
		<p>Le site [insérer le nom du site web] peut contenir des liens vers d'autres sites web ou ressources. Garage V.Parrot ne peut être tenu pour responsable du contenu ou des pratiques de confidentialité de ces sites.</p>

		<h2 class="mt-5">Modifications des mentions légales</h2>
		<p>Garage V.Parrot se réserve le droit de modifier ces mentions légales à tout moment. Nous vous recommandons de consulter cette page régulièrement pour rester informé des modifications apportées. Les modifications seront effectives dès leur publication sur cette page.</p>

		<h2 class="mt-5">Nous contacter</h2>
		<p>Si vous avez des questions concernant ces mentions légales, vous pouvez nous contacter :</p>
		<ul>
			<li>Par e-mail : v.parrot@parrot.fr</li>
			<li>Par téléphone : 0251909090</li>
			<li>Par courrier : 1 rue Maréchal 75000 Paris</li>
		</ul>
    </div>
	</section>
{% endblock %}
