@import "custom";

/* Page Annonces */

.annonce-card {
    border: 2px solid black !important;
    border-radius: 10px !important;
}

.card-annonce-title {
    font-size: 1.2rem;
}

.footer-card-annonce {
    height: 60px;
}

.footer-card-annonce a {
    width: 100px;
    height: 40px;
    padding-top: 8px;
    text-decoration: none;
    color: white;
    background-color: $secondary;
    border-radius: 4px;
}

    /* Stylisation de des barres de filtres noUiSlider */

.noUi-connect {
   background: $secondary !important;
}

/* Page Show */

.carousel-annonce {
    border: 2px solid gray;
    border-radius: 40px;
    overflow: hidden;
}

.details-annonce {
    border: 1px solid gray;
    border-radius: 40px;
    background-color: #EEF1F4;
}

.description-annonce {
    max-height: 400px;
    width: 80%;
    margin: 20px auto;
    overflow: scroll;
    scrollbar-width: none;
}

.price-annonce {
    margin: auto;
    padding-top: 6px;
    height: 60px;
    margin-top: 10px;
    width: 80%;
    border-top: 1px solid $primary;
}

@media screen and (min-width: 1200px) {

    /* Page Show */

    .container-annonce{
        height: 500px;
    }
    
}