
/* Colors */
$primary: #D76C58;
$secondary: #7F5056;
$bgSection: #222D41;
$otherText: #486284;

/* Fonts */
$roboto: "Roboto" , Arial, Times, serif;
$yeseva: 'Yeseva One', Arial, Times, serif;

@import "~bootstrap/scss/bootstrap";