
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('ttf');
}

@font-face {
    font-family: "Yeseva One";
    src: url("../fonts/Yaevesa/YesevaOne-Regular.ttf") format('ttf');
}
