
/* Stylisation des pages mentions légales et politique de confidentialité */

.mentions, .politique {
    background-color: black;
    color: white;
    box-shadow: 0 50px black;
}

.mentions h1, .politique h1 {
    color: $primary;
}

/* Fin de Stylisation des pages mentions légales et politique de confidentialité */

.container-infos-footer {
    position: relative;
    max-width: 1500px;
    margin: auto;
}

.container-mentions {
    max-width: 1500px;
}

footer {
    box-shadow: 0 50px black;
}

footer, .container-infos-footer{
    background-color: black;
    color: white;
}

.logo-footer {
    margin: auto;
    margin-top: 30px;
    width: 150px;
}

.reseaux {
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.jours-ouvertures p:first-child {
    width: 30px;
}

.acces-rapide {
    display: none;
}

.container-mentions {
    text-align: center;
}

.politique-mentions a, .droits a {
    text-decoration: none;
}

@media screen and (min-width: 1200px) {

    /* Style mentions et politique */

    .mentions-row, .politique-row {
        box-shadow: 1px 1px 5px inset $primary;
    }

    /* Fin Style mentions et politique */

    .mentions-row

    .container-infos-footer {
        width: 95%;
    }

    .logo-et-reseaux {
        margin-right: 10%;
    }

    .logo-footer {
        width: 250px;
        margin: 0;
    }

    .reseaux {
        width: 150px;
        position: static;
        margin: 0;
        transform: none;
    }

    .acces-rapide {
        display: block;
    }

    .container-mentions {
        border-top: 1px solid $primary;
        width: 95%;
        margin: auto;
    }

}