@import "custom";

html, body {
    overflow: none;
}

.container-main {
    font-family: $roboto;
    text-align: justify;
}

h1, h2, h3 {
    font-family: $yeseva;
}


h2 {
    display: block;
    margin-bottom: 30px !important;
    text-align: center;
}

/* Section Intro */

.section-intro {
    position: relative;
    overflow: hidden;
    height: 92vh;
    color: white;
    background-image: url(../images/mercedes-min.jpg);
    background-repeat: no-repeat;
    background-position: left 35%;
    background-size: cover;
}

.container-intro {
    z-index: 3;
}

.container-intro h1 {
    line-height: 120%;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: #000000 1px 1px 1px;
}

.container-intro p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    opacity: 0.8;
    text-shadow: #000000 1px 1px 1px;
}

.btn-all-annonces {
    width: 200px;
    height: 40px;
    margin: 100px 0 0 0;
    padding: 0;
    background-color: #fff !important;
    border-radius: 6px;
    border: $primary 2px solid !important;
    font-size: 18px;
    font-weight: bold !important;
}

.mercedes {
    position: absolute;
    width: 100%;
    height: 92vh;
    z-index: -10;
    top: 25px;
    left: -300px;
    filter: blur(2px);
    transform: scale(1.1);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #374158;
    opacity: 0.64;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Section Services et Annonces */

.card {
    border: none !important;
}

.card img {
    border-radius: 24px;
}

.card-title-service {
    color: $otherText !important;
}

.card-body div {
    color: $blueSky;
    text-align: justify;
}

.card-body h3 {
    height: 70px;
}

.section-vehicles {
    background-color: $bgSection;
}

.section-vehicles h2 {
    color: white;
}

.card-annonce {
    background-color: $bgSection !important;
}

.card-title-annonce {
    color: white !important;
}

.infos-supp-vehicle {
    width: 210px;
}

.infos-supp-vehicle p {
    color: white;
}

.btn-annonce {
    border-radius: 24px !important;
    width: 80px;
    color: white !important;
    font-weight: bold !important;
}

/* Section des avis clients */

.container-avis {
    width: 70%;
    margin-bottom: 40px;
    margin: auto;
}

.name-client {
    text-align: center !important;
    width: 100% !important;
}

.container-avis div:last-child {
    text-align: justify;
}

.note-client img {
    width: 50%;
    margin: 10px 25%;
    text-align: center;
}

.container-avis h3, .container-avis-2 h3 {
    font-weight: bold;
    color: $otherText;
}

.container-avis div:last-child, .container-avis-2 div:last-child {
    color: $blueSky;
    font-size: 14px;
    margin: 40px auto;
    height: 250px;
    text-align: justify;
}

.container-avis-2 {
    display: none;
}

/* Formulaire avis client */
label.required:before {
    content: "*";
    color: rgb(255, 13, 0);
    margin-right: 5px;
}

@media screen and (min-width: 1200px) {
    
    .section-intro {
        background-image: url(../images/mercedes.jpg);
    }
    .container-intro {
        width: 50%;
        margin: 0 auto;
    }

    /* Section avis clients */

    .container-avis-2 {
        display: block;
        width: 100%;
    }

    .container-avis {
        width: auto;
        max-width: 50%;
    }

    .container-avis h3, .container-avis-2 h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .container-avis h3, .container-avis div:last-child, .container-avis-2 h3, .container-avis-2 div:last-child {
        width: 80%;
        margin: 20px 0;
    }

    .container-avis div:last-child, .container-avis-2 div:last-child {
        text-align: justify;
        width: 100%;
    }

    .all-container-avis {
        display: flex;
        gap: 50px;
        width: 85%;
        margin: auto;
    }
}