<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="author" content="Tony Rabillard /">
        <meta name="description" content="Entretien et réparations de vos véhicules et vente de véhicules d'occasions.">
        <title>Garage Vincent Parrot - {% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% include "partials/_header.html.twig" %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% include "partials/_footer.html.twig" %}

    </body>
</html>
