{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<section class="politique  px-3 pt-5">
    <div class="politique-row col-xl-10 col-xxl-9 mx-auto my-4 px-5 py-4">
		<h1 class="text-center mb-5">Politique de confidentialité</h1>
		<p>Dernière mise à jour : 03/04/2024</p>
		<p>Garage V.Parrot exploite le site web [insérer le nom du site web] .</p>
		<p>Cette page vous informe de nos politiques concernant la collecte, l'utilisation et la divulgation de données personnelles lorsque vous utilisez notre Service et des choix que vous avez associés à ces données.</p>

		<h2 class="mt-5">Collecte et utilisation des informations</h2>
		<p>Nous ne collectons aucune donnée personnelle des visiteurs sans leur consentement. Notre Service ne requiert pas la création d'un compte et ne stocke aucune information personnelle de manière permanente. Les informations que vous fournissez volontairement pour nous contacter sont utilisées uniquement dans le but de répondre à votre demande et ne sont pas conservées par notre Service.</p>

		<h2 class="mt-5">Transfert de données</h2>
		<p>Les informations que vous fournissez volontairement pour nous contacter peuvent être transférées vers notre gestionnaire de messagerie pour que nous puissions répondre à votre demande. Cependant, ces informations ne sont pas stockées sur notre Service et ne sont pas utilisées à d'autres fins que pour répondre à votre demande spécifique.</p>

		<h2 class="mt-5">Sécurité des données</h2>
		<p>Nous prenons des mesures appropriées pour garantir la sécurité des informations que vous nous fournissez volontairement pour nous contacter. Cependant, veuillez noter que la transmission de données sur Internet n'est pas entièrement sécurisée et qu'il peut y avoir des risques de sécurité lors de la transmission de telles données. Vous acceptez ces risques en nous fournissant vos informations.</p>

		<h2 class="mt-5">Modifications de cette politique de confidentialité</h2>
		<p>Nous nous réservons le droit de mettre à jour ou de modifier notre Politique de confidentialité à tout moment. Nous vous recommandons de consulter cette page régulièrement pour rester informé des modifications apportées. Les modifications seront effectives dès leur publication sur cette page.</p>

		<h2 class="mt-5">Nous contacter</h2>
		<p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter :</p>
		<ul>
			<li>Par e-mail : v.parrot@parrot.fr</li>
			<li>Par téléphone : 0251909090</li>
			<li>Par courrier : 1 rue Maréchal 75000 Paris</li>
		</ul>
    </div>
	</section>
{% endblock %}
